<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication4.Properties.Settings.YeniConnectionString"
            connectionString="Data Source=ADMINN\MENGI;Initial Catalog=Yeni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>